.l-container {
  display: flex;
  gap: 20px;
  &--col {
    flex-direction: column;
  }
  &--row {
    flex-direction: row;
  }
  &--gap-small {
    gap: 20px;
  }
  &--gap-large {
    gap: 50px;
  }
}
