@use '../abstracts/variables';

.l-header {
  height: variables.$nav-height;
  width: 100%;
}

.l-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  // background-color: aquamarine;
}
