@use '../abstracts' as a;

.l-sidebar {
  position: absolute;
  top: 30vh;
  right: 0;
  width: a.$sidebar-width;
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
}

.l-sidebar--left {
  @extend .l-sidebar;
  top: 60vh;
  right: revert;
  left: 0;
}
