//---------------------------------------------------
// This contains the css helper classes
//---------------------------------------------------
@use 'variables';

.h-txt-center {
  text-align: center;
}

.h-txt-left {
  text-align: left;
}

.h-txt-mono {
  font-family: variables.$font-mono;
}

.h-txt-spacing-wide {
  letter-spacing: 0.1em;
}

.h-txt-color-secondary {
  color: variables.$color-secondary;
}

.h-txt-color-sec-var {
  color: variables.$color-secondary-variant;
}

.h-txt-color-accent {
  color: variables.$color-accent;
}
