//---------------------------------------------------
// This contains the website design system variables
//---------------------------------------------------

/* Font Family */
// Basic font family
$font-sans: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif !default;

// Mono font family
$font-mono: 'Fira Code', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif !default;

/* Font Sizes, Line heights, and Font weights */
$font-xxxs: (
  'font-size': 0.75rem,
  'line-height': 1,
  'font-weight': 400,
) !default;
$font-xxs: (
  'font-size': 0.813rem,
  'line-height': 1,
  'font-weight': 400,
) !default;
$font-xs: (
  'font-size': 0.875rem,
  'line-height': 1,
  'font-weight': 400,
) !default;
$font-sm: (
  'font-size': 1rem,
  'line-height': 1,
  'font-weight': 400,
) !default;
$font-base-size: (
  'font-size': 1.25rem,
  'line-height': 1.3,
  'font-weight': 400,
) !default;
$font-md: (
  'font-size': 1.5rem,
  'line-height': 1,
  'font-weight': 500,
) !default;
$font-lg: (
  'font-size': 2.25rem,
  'line-height': 1,
  'font-weight': 500,
) !default;
$font-xl: (
  'font-size': 4rem,
  'line-height': 1,
  'font-weight': 700,
) !default;
$font-xxl: (
  'font-size': 6rem,
  'line-height': 1,
  'font-weight': 700,
) !default;

/* Colors */
// Primary colors
$color-primary: hsla(215, 50%, 23%, 1) !default; // prussian-blue
$color-primary-variant: hsla(216, 35%, 29%, 1) !default; // indigo-dye

// Secondary colors
$color-secondary: hsla(58, 89%, 93%, 1) !default; // light-yellow
$color-secondary-variant: hsla(107, 6%, 70%, 1) !default; // ash-gray

// Accent color
$color-accent: hsla(183, 100%, 36%, 1) !default; // maximum-blue-green

/* Media query breakpoints */
$breakpoints: (
  small: 480px,
  medium: 700px,
  large: 1024px,
);
