.c-button--small {
  color: $color-accent;
  padding: 12px 25px;
  border: $border-style-default;
  border-radius: 8px;
  &:hover {
    background-color: $color-hover-bg-default;
  }
}

.c-button--large {
  @extend .c-button--small;
  padding: 16px 30px;
}
