@use '../abstracts/mixins';
@use '../abstracts/variables';

.c-career-card {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.c-career-card__title {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.c-career-card__role {
  max-width: 200px;
  padding-bottom: 5px;
  border-bottom: 3px solid $color-secondary-variant;
  @include mixins.applySelectedFontSize('font-md');
}

.c-career-card__company {
  @include mixins.applySelectedFontSize('font-sm');
}

.c-career-card__time-range {
  margin-top: 8px;
  @include mixins.applySelectedFontSize('font-xs');
}

.c-career-card__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mixins.applySelectedFontSize('font-sm');
}

.c-career-card__item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.c-career-card__item::before {
  content: variables.$list-bullet-char-default;
  color: $color-accent;
  font-family: $font-mono;
}
