@use '../abstracts' as a;

.c-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
  gap: 8px;

  p {
    width: 50%;
    margin: 20px 0 35px 0;
    @include a.applySelectedFontSize('font-base');
  }
}
