@use '../abstracts/variables';

.c-email {
  display: flex;
  align-items: center;
  width: 50px;
  padding: 15px 0;
  font-family: variables.$font-mono;
  @include applySelectedFontSize('font-xxxs');
}
