@use '../abstracts' as a;

.c-email {
  display: flex;
  align-items: center;
  width: 50px;
  padding: 15px 0;
  font-family: a.$font-mono;
  @include a.applySelectedFontSize('font-xxxs');
  cursor: pointer;
  &:hover {
    color: a.$color-hover-txt-default;
  }
}
