@use '../abstracts/variables';

.c-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.c-nav__list {
  display: flex;
  gap: 5vw;
}

.c-nav__item {
  font-family: $font-mono;
  @include applySelectedFontSize('font-xxs');
}

.c-nav__link {
  cursor: pointer;
  &:hover {
    color: $color-hover-txt-default;
  }
}
