@use '../abstracts' as a;

.c-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.c-nav__list {
  display: flex;
  gap: 5vw;
}

.c-nav__link {
  cursor: pointer;
  font-family: a.$font-mono;
  @include a.applySelectedFontSize('font-xxs');
  &:hover {
    color: a.$color-hover-txt-default;
  }
}
