@use '../abstracts/variables';

.c-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  // background-color: variables.$color-primary;
}

.c-nav__list {
  display: flex;
  gap: 5vw;
}

.c-nav__item {
  font-family: variables.$font-mono;
  font-size: map-get($map: variables.$font-xxs, $key: font-size);
  &:hover {
    color: variables.$color-accent;
  }
}

.c-nav__link {
  cursor: pointer;
}
