@use '../abstracts/mixins';
@use '../abstracts/variables';

$grid-areas: ('header', 'figure', 'body');
.c-project-card {
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-areas: 'text figure';
  align-items: center;
  gap: 10px;
  text-align: left;
  .c-project-card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: text;
  }

  &--right {
    grid-template-columns: 1fr 45%;
    grid-template-areas: 'figure text';
    text-align: right;
    .c-project-card__content {
      align-items: flex-end;
    }
  }
}

.c-project-card__figure {
  grid-area: figure;
}

.c-project-card__title {
  margin-bottom: 10px;
  text-align: inherit;
  @include mixins.applyFontSizes;
}

.c-project-card__body {
  margin-top: 20px;
}

.c-project-card__description {
  padding: 30px 30px;
  border-radius: 5px;
  text-align: inherit;
  @include mixins.applySelectedFontSize('font-sm');
  background-color: variables.$color-primary-variant;
}

.c-project-card__footer {
  margin-top: 30px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  gap: 15px;
}

.c-tags__list {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.c-tags__item {
  font-family: variables.$font-mono;
  @include mixins.applySelectedFontSize('font-xxs');
}

.c-project-card__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
