@use '../abstracts/variables';
@use '../abstracts/mixins';

.c-profile-card {
  width: 70%;
  max-width: 800px;
  padding: 50px;
  border-radius: 5px;
  background-color: variables.$color-primary-variant;
}

.c-profile-card__body {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 50px;
}

.c-profile-card__description {
  margin-bottom: 10px;
  @include mixins.applySelectedFontSize('font-sm');
  color: variables.$color-secondary-variant;
}

.c-profile-card__img {
  $img-width: 20vw;
  width: $img-width;
  clip-path: circle(calc($img-width / 2));
}

.c-profile-card__footer {
  width: 60%;
  margin-top: 10px;
}

.c-profile-tags__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  // column-gap: 5px;
  row-gap: 1em;
  margin-left: 20px;
}

.c-profile-tags__item {
  font-family: variables.$font-mono;
  @include mixins.applySelectedFontSize('font-xxs');
}

.c-profile-tags__item::before {
  content: variables.$list-bullet-char-default;
  color: $color-accent;
  margin-right: 10px;
}
