@use '../abstracts/variables';
@use '../abstracts/mixins';

.c-profile-card {
  width: 70%;
  max-width: 800px;
  padding: 50px;
  border-radius: 5px;
  background-color: variables.$color-primary-variant;
}

.c-profile-card__body {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 50px;
}

.c-profile-card__text {
  margin-bottom: 10px;
  @include mixins.applySelectedFontSize('font-sm');
  color: variables.$color-secondary-variant;
}

.c-profile-card__img {
  width: 250px;
  clip-path: circle(125px);
}
