@use '../abstracts/variables';

.c-socials {
  display: flex;
  align-items: center;
  width: 50px;
  padding: 15px 0;
  // background-color: grey;
}

.c-socials__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

// .c-socials__icon {
//   &--github > * {
//     stroke: variables.$color-accent;
//   }
//   &--linkedin > *,
//   &--codepen > * {
//     fill: variables.$color-accent;
//   }
// }
