@use '../abstracts/variables';

.c-socials {
  display: flex;
  align-items: center;
  width: 50px;
  padding: 15px 0;
}

.c-socials__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.c-socials__icon {
  color: variables.$color-secondary-variant;
  cursor: pointer;
  &:hover {
    color: $color-hover-txt-default;
  }
}
