//----------------------------------------------
// This contains basic typography styles
//----------------------------------------------

// base font color, family, style
body {
  color: $color-secondary-variant;
  font-family: $font-sans;
  font-style: normal;
}

// paragraph font size
p {
  @include applySelectedFontSize('font-base');
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-secondary;
  font-family: $font-sans;
  text-align: center;
}

.heading {
  @include applyFontSizes;
}
