//----------------------------------------------
// This contains basic typography styles
//----------------------------------------------
@use '../abstracts/variables';
@use '../abstracts/mixins';

// base font color, family, style
body {
  color: $color-secondary;
  font-family: $font-sans;
  font-style: normal;
}

// paragraph font size
p {
  @include applySelectedFontSize('font-base');
}

// headings
@each $num in (1, 2, 3, 4, 5, 6) {
  h#{$num} {
    color: $color-secondary;
    font-family: $font-sans;
    text-align: center;
  }
}

.heading {
  @include mixins.applyFontSizes;
}
